.container {
    text-align: center;
    margin: 50px;
}

.navbar {
    text-align: center;
    background-color: black;
    color: white;
    margin: 50px;
    padding: 20px;
    text-decoration: none;
}