.container {
    text-align: center;
    margin: 50px;
}

.navbar {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    text-decoration: none;

}

.navbar2 {
    padding-top: 20px;
    padding-bottom: 20px;
}